header
{display: flex;
     flex-direction: column;
     align-items: center;
}


nav ul
{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav a
{
    text-decoration: none;
    color: black;
}

nav li
{
    margin-bottom: 10px;
}
